{% extends 'base-1.html' %}

{% block title %} Calculadora Positano Cruzada {% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/menuLateral-2.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/cardCalculos.css')}}">
{% endblock %}

{% block body %}
<!-- cSpell:disable -->
<style>
    .link-psitano-cruzada {
        color: #b9aa95 !important;
        font-weight: 700;
    }
</style>
<!-- cSpell:enable -->

<div class="margen-contenido">
    <div class="container">
        <!-- SECCIÓN TITULO PAGINA -->
        <section>
            <div class="row">
                <div class="col-12 col-xl-4 col-lg-5 col-md-5">
                    <h2>Positano Cruzada</h2>
                </div>
                <div class="col-12 col-xl-8 col-lg-7 col-md-7">
                    <hr>
                </div>
            </div>
        </section>

        <!-- SECCIÓN PARA CALCULADORA -->
        <section>
            <div class="row">
                <div class="col-12 col-xl-8 col-lg-8 col-md-12 col-sm-12 my-5">
                    <div class="card card-custom shadow">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-auto">
                                    Ingresa los datos solicitados para hacer el calculo
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row text-center">
                                <div class="col">
                                    <hr>
                                </div>
                                <div class="col-auto">
                                    <h5>Mármol 1 o Cristal</h5>
                                </div>
                                <div class="col">
                                    <hr>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-12 col-xl-3 col-lg-4 col-md-6 col-sm-6">
                                    <div class="mb-3 text-xl-center text-sm-start">
                                        <label for="largoMarmol1OCristal" class="form-label">Ingresa el Largo</label>
                                        <input type="number" class="form-control input-custom" id="largoMarmol1OCristal"
                                            placeholder="cm" oninput="calcularPC()">
                                    </div>
                                </div>
                                <div class="col-12 col-xl-3 col-lg-4 col-md-6 col-sm-6 ocultarInputs">
                                    <div class="mb-3 text-xl-center text-sm-start">
                                        <label for="anchoMarmol1OCristal" class="form-label ">Ancho</label>
                                        <input type="number" class="form-control input-custom" id="anchoMarmol1OCristal"
                                            placeholder="cm" disabled oninput="calcularPC()">
                                    </div>
                                </div>
                                <div class="col-12 col-xl-3 col-lg-4 col-md-6 col-sm-6">
                                    <div class="mb-3 text-xl-center text-sm-start">
                                        <label for="altoMarmol1OCristal" class="form-label">Ingresa el Alto</label>
                                        <input type="number" class="form-control input-custom" id="altoMarmol1OCristal"
                                            placeholder="cm" oninput="calcularPC()">
                                    </div>
                                </div>
                                <div class="col-12 col-xl-3 col-lg-4 col-md-6 col-sm-6 ocultarInputs">
                                    <div class="mb-3 text-xl-center text-sm-start">
                                        <label for="metroCuadradoMarmol1OCristal" class="form-label">M²</label>
                                        <input type="number" class="form-control input-custom"
                                            id="metroCuadradoMarmol1OCristal" placeholder="m²" disabled
                                            oninput="calcularPC()">
                                    </div>
                                </div>
                                <div class="col-12 col-xl-6 col-lg-8 col-md-12 col-sm-12">
                                    <div class="mb-3 text-xl-center text-sm-start">
                                        <label for="precioMarmol1OCristal" class="form-label">Elige el tipo de mármol o
                                            cristal</label>
                                        <select class="form-select input-custom" id="precioMarmol1OCristal"
                                            oninput="calcularPC()">
                                            <option value="" disabled selected>elige una opción...</option>
                                            <optgroup label="Cristal">
                                                {% for cristal in cristales | sort(attribute='nombre_material_cristal') %}
                                                <option value="{{ cristal.precio_cristal }}">{{
                                                    cristal.nombre_material_cristal
                                                    }} | {{ cristal.tipo_cristal }} | ${{ cristal.precio_cristal }}
                                                </option>
                                                {% endfor %}
                                            </optgroup>
                                            <!-- cSpell:disable -->
                                            <optgroup label="Mármol">
                                                {% for marmol in marmoles | sort(attribute='nombre_material_marmol') %}
                                                <option value="{{ marmol.precio_marmol }}">
                                                    {{ marmol.nombre_material_marmol }} | {{ marmol.tipo_marmol }} | ${{
                                                    marmol.precio_marmol }}
                                                </option>
                                                {% endfor %}
                                            </optgroup>
                                            <!-- cSpell:enable -->
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 ocultarInputs">
                                    <div class="mb-3 text-xl-center text-sm-start">
                                        <label for="valorSuperficieMarmol1OCristal" class="form-label">Valor
                                            Superficie</label>
                                        <input class="form-control input-custom" id="valorSuperficieMarmol1OCristal"
                                            placeholder="$" disabled oninput="calcularPC()">
                                    </div>
                                </div>
                                <div class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 ocultarInputs">
                                    <div class="mb-3 text-xl-center text-sm-start">
                                        <div class="mb-3">
                                            <label for="manoObraMarmol1OCristal" class="form-label d-flex">Mano de
                                                obra</label>
                                            <input class="form-control input-custom" id="manoObraMarmol1OCristal"
                                                placeholder="$" disabled oninput="calcularPC()">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row text-center">
                                <div class="col">
                                    <hr>
                                </div>
                                <div class="col-auto">
                                    <h5>Mármol 2</h5>
                                </div>
                                <div class="col">
                                    <hr>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-12 col-xl-3 col-lg-4 col-md-6 col-sm-6">
                                    <div class="mb-3 text-xl-center text-sm-start">
                                        <label for="largoMarmol2" class="form-label">Ingresa el Largo</label>
                                        <input type="number" class="form-control input-custom" id="largoMarmol2"
                                            placeholder="cm" oninput="calcularPC()">
                                    </div>
                                </div>
                                <div class="col-12 col-xl-3 col-lg-4 col-md-6 col-sm-6 ocultarInputs">
                                    <div class="mb-3 text-xl-center text-sm-start">
                                        <label for="anchoMarmol2" class="form-label">Ancho</label>
                                        <input type="number" class="form-control input-custom" id="anchoMarmol2"
                                            placeholder="cm" oninput="calcularPC()" disabled>
                                    </div>
                                </div>
                                <div class="col-12 col-xl-3 col-lg-4 col-md-6 col-sm-6 ocultarInputs">
                                    <div class="mb-3 text-xl-center text-sm-start">
                                        <label for="altoMarmol2" class="form-label">Alto</label>
                                        <input type="number" class="form-control input-custom" id="altoMarmol2"
                                            placeholder="cm" oninput="calcularPC()" disabled>
                                    </div>
                                </div>
                                <div class="col-12 col-xl-3 col-lg-4 col-md-6 col-sm-6 ocultarInputs">
                                    <div class="mb-3 text-xl-center text-sm-start">
                                        <label for="metroCuadradoMarmol2" class="form-label">M²</label>
                                        <input type="number" class="form-control input-custom" id="metroCuadradoMarmol2"
                                            placeholder="m²" disabled oninput="calcularPC()">
                                    </div>
                                </div>
                                <div class="col-12 col-xl-6 col-lg-8 col-md-12 col-sm-12">
                                    <div class="mb-3 text-xl-center text-sm-start">
                                        <label for="precioMarmol2" class="form-label">Elige el tipo de mármol</label>
                                        <select class="form-select input-custom" id="precioMarmol2"
                                            oninput="calcularPC()">
                                            <option value="" disabled selected>elige una opción...</option>
                                            <!-- cSpell:disable -->
                                            {% for marmol in marmoles | sort(attribute='nombre_material_marmol') %}
                                                <option value="{{ marmol.precio_marmol }}">
                                                    {{ marmol.nombre_material_marmol }} | {{ marmol.tipo_marmol }} | ${{
                                                    marmol.precio_marmol }}
                                                </option>
                                                {% endfor %}
                                            <!-- cSpell:enable -->
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 ocultarInputs">
                                    <div class="mb-3 text-xl-center text-sm-start">
                                        <label for="valorSuperficieMarmol2" class="form-label">Valor Superficie</label>
                                        <input class="form-control input-custom" id="valorSuperficieMarmol2"
                                            placeholder="$" disabled oninput="calcularPC()">
                                    </div>
                                </div>
                                <div class="col-12 col-xl-3 col-lg-6 col-md-6 col-sm-6 ocultarInputs">
                                    <div class="mb-3 text-xl-center text-sm-start">
                                        <label for="manoObraMarmol2" class="form-label d-flex">Mano de obra</label>
                                        <input class="form-control input-custom" id="manoObraMarmol2" placeholder="$"
                                            disabled oninput="calcularPC()">
                                    </div>
                                </div>
                            </div>
                            <div class="row text-center">
                                <div class="col">
                                    <hr>
                                </div>
                                <div class="col-auto">
                                    <h5>Otros</h5>
                                </div>
                                <div class="col">
                                    <hr>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-12 col-xl-4">
                                    <div class="mb-3 text-xl-center text-sm-start">
                                        <label for="valorTransporte" class="form-label">Ingresa valor Transporte</label>
                                        <input type="number" class="form-control input-custom" id="valorTransporte"
                                            placeholder="$" oninput="calcularPC()">
                                    </div>
                                </div>
                                <div class="col-12 col-xl-4">
                                    <div class="mb-3 text-xl-center text-sm-start">
                                        <label for="PorcentajeGanancia" class="form-label">Ingresa Porcentaje
                                            Ganancia</label>
                                        <input type="number" class="form-control input-custom validarPorcentaje"
                                            id="PorcentajeGanancia" value="55" placeholder="%" oninput="calcularPC()">
                                    </div>
                                </div>
                                <div class="col-12 col-xl-4">
                                    <div class="mb-3 text-xl-center text-sm-start">
                                        <label for="PorcentajeCredito" class="form-label">Ingresa Porcentaje
                                            Crédito</label>
                                        <input type="number" class="form-control input-custom" id="PorcentajeCredito"
                                            value="5" placeholder="%" oninput="calcularPC()">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xl-4 col-lg-4 col-md-12 col-sm-12 fijar-alto my-xl-5 my-lg-5 my-md-0 my-sm-0">
                    <div class="card card-custom shadow fijar">
                        <div class="card-header">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-12 col-xl-7 col-lg-12 col-md-9 col-sm-8">
                                    Resultados Positano Cruzada
                                </div>
                                <div class="col-12 col-xl-5 col-lg-12 col-md-3 col-sm-4">
                                    <div class="form-check form-switch check-custom">
                                        <label class="form-check-label" for="showInputs">Ver Ocultos</label>
                                        <input class="form-check-input" type="checkbox" role="switch" id="showInputs"
                                            onchange="mostrarInputs()">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row text-center">
                                <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <div class="mb-3">
                                        <label for="CosteNeto" class="form-label">Precio Coste Neto</label>
                                        <input class="form-control input-custom-resultado" id="CosteNeto"
                                            placeholder="$" disabled>
                                    </div>
                                </div>
                                <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <div class="mb-3">
                                        <label for="ganancia" class="form-label">Valor de Ganancia</label>
                                        <input class="form-control input-custom-resultado" id="ganancia" placeholder="$"
                                            disabled>
                                    </div>
                                </div>
                                <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <div class="mb-3">
                                        <label for="precioNeto" class="form-label">Precio del valor Neto</label>
                                        <input class="form-control input-custom-resultado" id="precioNeto"
                                            placeholder="$" disabled>
                                    </div>
                                </div>
                                <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <div class="mb-3">
                                        <label for="precioContado" class="form-label">Precio valor Contado</label>
                                        <input class="form-control input-custom-resultado" id="precioContado"
                                            placeholder="$" disabled>
                                    </div>
                                </div>
                                <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <div class="mb-3">
                                        <label for="precioCredito" class="form-label">Precio valor Crédito</label>
                                        <input class="form-control input-custom-resultado" id="precioCredito"
                                            placeholder="$" disabled>
                                    </div>
                                </div>
                                <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <div class="mb-3">
                                        <label for="conRedondeo" class="form-label">Precio Redondeado</label>
                                        <input class="form-control input-custom-resultado" id="conRedondeo"
                                            placeholder="$" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>








            </div>

        </section>

    </div>


</div>









{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/calcularPC.js')}}"></script>
<script src="{{ url_for('static', filename='js/validarPorcentaje.js')}}"></script>
<script src="{{ url_for('static', filename='js/habilitarInputs.js')}}"></script>
{% endblock %}