{% extends 'base-1.html' %}

{% block title %} Proveedor Mármol {% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/crudProveedores.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/menuLateral-1.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='DataTables/datatables.min.css')}}">
{% endblock %}

{% block body %}
<!-- cSpell:disable -->
<style>
    .link-marmol {
        color: #b9aa95 !important;
        font-weight: 700;
    }
</style>
<!-- cSpell:enable -->

<!-- MODAL PARA AGREGAR UNO NUEVO -->
<div class="modal fade" id="modalAddMarmol" tabindex="-1" aria-labelledby="modalAddMarmolLabel"
aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title fuente-montserrat-negrita" id="modalAddMarmolLabel">Agregar
                nuevo articulo de proveedor</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
        </div>
        <!-- cSpell:disable -->
        <form class="needs-validation fuente-montserrat-regular" action="/add_marmol"
            method="POST" novalidate>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="nombreMarmolAdd" class="form-label">Nombre Mármol</label>
                    <input type="text" class="form-control" id="nombreMarmolAdd"
                        placeholder="Mármol" name="nombre_material_marmol" required>
                </div>
                <div class="mb-3">
                    <label for="nombreProveedorMarmolAdd" class="form-label">Nombre
                        Proveedor</label>
                    <input type="text" class="form-control" id="nombreProveedorMarmolAdd"
                        placeholder="Proveedor" name="nombre_proveedor_marmol" required>
                </div>
                <div class="mb-3">
                    <label for="tipoMarmolAdd" class="form-label">Tipo</label>
                    <select class="form-select" id="tipoMarmolAdd" name="tipo_marmol" required>
                        <option value="" disabled selected>elige una opción...</option>
                        <option value="Plancha">Plancha</option>
                        <option value="Dimensionado">Dimensionado</option>
                        <option value="Cubierta">Cubierta</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="precioMarmolAdd" class="form-label">Precio</label>
                    <input type="number" class="form-control" id="precioMarmolAdd"
                        placeholder="$" name="precio_marmol" required>
                </div>
                <div class="mb-3">
                    <label for="EstadoMarmolAdd" class="form-label">Disponibilidad</label>
                    <select class="form-select" id="EstadoMarmolAdd" name="estado_marmol"
                        required>
                        <option value="" disabled selected>elige una opción...</option>
                        <option value="1">Disponible</option>
                        <option value="0">No disponible</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Guardar cambios <i
                        class="bi bi-file-earmark-diff-fill"></i></button>
            </div>
        </form>
        <!-- cSpell:enable -->
    </div>
</div>
</div>

<!-- MODAL PARA EDITAR UN ARTICULO-->
<!-- cSpell:enable -->
<div class="modal fade" id="modalEditMarmol" tabindex="-1" aria-labelledby="modalEditMarmolLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <h5 class="modal-title fuente-montserrat-negrita" id="modalEditMarmolLabel">Edita todos los datos
                    de la fila seleccionada</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- cSpell:disable -->
            <form class="needs-validation fuente-montserrat-regular" action="/edit_marmol" method="POST" novalidate>
                <div class="modal-body">
                    <div class="mb-3" hidden>
                        <label for="edit_id" class="form-label">Id
                            Mármol</label>
                        <input type="hidden" class="form-control" id="edit_id" placeholder="#" name="id" required>
                    </div>
                    <div class="mb-3">
                        <label for="edit_nombre_material_marmol" class="form-label">Nombre Mármol</label>
                        <input type="text" class="form-control" id="edit_nombre_material_marmol" placeholder="Mármol"
                            name="nombre_material_marmol" required>
                    </div>
                    <div class="mb-3">
                        <label for="edit_nombre_proveedor_marmol" class="form-label">Nombre
                            Proveedor</label>
                        <input type="text" class="form-control" id="edit_nombre_proveedor_marmol"
                            placeholder="Proveedor" name="nombre_proveedor_marmol" required>
                    </div>
                    <div class="mb-3">
                        <label for="edit_tipo_marmol" class="form-label">Tipo</label>
                        <select class="form-select" id="edit_tipo_marmol" name="tipo_marmol" required>
                            <option value="" disabled selected>elige
                                una
                                opción...
                            </option>
                            <option value="Plancha">Plancha</option>
                            <option value="Dimensionado">
                                Dimensionado
                            </option>
                            <option value="Cubierta">Cubierta
                            </option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="edit_precio_marmol" class="form-label">Precio</label>
                        <input type="number" class="form-control" id="edit_precio_marmol" placeholder="$"
                            name="precio_marmol" required>
                    </div>
                    <div class="mb-3">
                        <label for="edit_estado_marmol" class="form-label">Disponibilidad</label>
                        <select class="form-select" id="edit_estado_marmol" name="estado_marmol" required>
                            <option value="" disabled selected>elige
                                una
                                opción...
                            </option>
                            <option value="1">Disponible</option>
                            <option value="0">No disponible</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer bg-success">
                    <button type="submit" class="btn btn-primary">Guardar cambios <i
                            class="bi bi-file-earmark-diff-fill"></i></button>
                </div>
            </form>
            <!-- cSpell:enable -->
        </div>
    </div>
</div>

<!-- MODAL PARA ELIMINAR UN ARTICULO -->
<div class="modal fade" id="modalDeleteMarmol" tabindex="-1" aria-labelledby="modalDeleteMarmolLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="modal-title fuente-montserrat-negrita" id="modalDeleteMarmolLabel">Eliminar todos los
                    datos de esta fila</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- cSpell:disable -->
            <form class="needs-validation fuente-montserrat-regular" action="/delete_marmol" method="POST" novalidate>
                <div class="modal-body">
                    <div class="mb-3" hidden>
                        <label for="delete_id" class="form-label">Id
                            Mármol</label>
                        <input type="hidden" class="form-control" id="delete_id" placeholder="#" name="id" required>
                    </div>

                    <div class="row text-center">
                        <div class="col">
                            <h2>¡ATENCIÓN!</h2>
                            <h4>Esta apunto de eliminar los datos de
                                la <br>
                                fila:
                                <b>"<span id="delete_id_spam"></span>"</b>.
                            </h4>
                            <i class="bi bi-exclamation-triangle text-danger" style="font-size: 30pt;"></i>
                        </div>
                    </div>
                </div>
                <div class="modal-footer bg-danger">
                    <button type="submit" class="btn btn-warning">Eliminar
                        <i class="bi bi-file-earmark-excel-fill"></i>
                    </button>
                </div>
            </form>
            <!-- cSpell:enable -->
        </div>
    </div>
</div>


<div class="margen-contenido">
    <div class="container">
        <!-- SECCIÓN TITULO PAGINA -->
        <section>
            <div class="row">
                <div class="col-12 col-xl-5 col-lg-5 col-md-5">
                    <h2>Proveedores de Mármol</h2>
                </div>
                <div class="col-12 col-xl-7 col-lg-7 col-md-7">
                    <hr>
                </div>
            </div>
        </section>



        <!-- SECCIÓN PARA AGREGAR UN NUEVO ARTICULO DE MÁRMOL Y MOSTRAR MENSAJE DE ALERTA -->
        <section>
            <div class="row align-items-center">
                <div class="col-12 col-xl-5 col-lg-5 col-md-5 col-sm-12 my-5">
                    <p>¿Desea agregar un nuevo artículo de proveedor?</p>
                    <!-- cSpell:disable -->
                    <button type="button" class="btn btn-outline-dark btn-custom shadow" data-bs-toggle="modal"
                        data-bs-target="#modalAddMarmol" data-toggle="tooltip" data-placement="bottom"
                        title="Presiona para ''AGREGAR'' una nueva fila con los datos de precio de un proveedor">
                        <!-- cSpell:enable -->
                        Si. Agregar Nuevo
                        <i class="bi bi-file-earmark-plus-fill"></i>
                    </button>
                </div>

                <!-- MENSAJE DE ALERTA -->
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="col-12 col-xl-7 col-lg-7 col-md-7 col-sm-12 mb-5">
                    <div class="alert alert-primary col" role="alert">
                        <div class="row">
                            <div class="col-11">
                                <strong class="">{{ message }}</strong>
                            </div>

                            <div class="col-1">
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
        </section>

        <!-- SECCIÓN PARA LA TABLA DE DATOS -->
        <section>
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="card card-fondo-table table-container">
                        <div class="card-body">
                            <table class="table shadow table-striped table-hover" style="width: 100%;"
                                id="table_proveedores">
                                <div class="fijar-alto">
                                    <thead class="fijar shadow" style="font-size: 12pt;">
                                        <tr>
                                            <th class="id-td" scope="col">#</th>
                                            <th scope="col">Mármol</th>
                                            <th scope="col">Tipo</th>
                                            <th scope="col">Proveedor</th>
                                            <th scope="col">Precio</th>
                                            <th scope="col">Ingreso</th>
                                            <th scope="col">Estado</th>
                                            <th scope="col">Acciones</th>
                                        </tr>
                                    </thead>
                                </div>
                                <tbody style="font-size: 10pt;">
                                    <!-- cSpell:disable -->
                                    {% if marmoles %}
                                    {% for marmol in marmoles %}
                                    <tr>
                                        <th scope="row">{{ marmol.id }}</th>
                                        <td>{{ marmol.nombre_material_marmol }}</td>
                                        <td>{{ marmol.tipo_marmol }}</td>
                                        <td>{{ marmol.nombre_proveedor_marmol }}</td>
                                        <td>{{ marmol.precio_marmol }}</td>
                                        <td>{{ marmol.fecha_insercion_marmol.strftime('%d-%m-%Y') }}</td>
                                        <td>
                                            {% if marmol.estado_marmol == 1 %}
                                            <!-- cSpell:enable -->
                                            Disponible
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" role="switch" checked
                                                    disabled>
                                            </div>
                                            {% else %}
                                            No disponible
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" role="switch" disabled>
                                            </div>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="col-auto">
                                                    <!-- cSpell:disable -->
                                                    <button type="button" class="btn btn-outline-success btn-tabla"
                                                        data-bs-toggle="modal" data-bs-target="#modalEditMarmol"
                                                        id="btnModalEditMarmol" data-toggle="tooltip"
                                                        data-placement="bottom"
                                                        title="Presiona para ''EDITAR'' los datos de esta fila."
                                                        data-edit_id="{{ marmol.id }}"
                                                        data-edit_nombre_material_marmol="{{ marmol.nombre_material_marmol }}"
                                                        data-edit_nombre_proveedor_marmol="{{ marmol.nombre_proveedor_marmol }}"
                                                        data-edit_tipo_marmol="{{ marmol.tipo_marmol }}"
                                                        data-edit_precio_marmol="{{ marmol.precio_marmol }}"
                                                        data-edit_estado_marmol="{{ marmol.estado_marmol }}">
                                                        <i class="bi bi-pen-fill"></i>
                                                    </button>
                                                </div>

                                                <div class="col-auto">
                                                    <!-- cSpell:disable -->
                                                    <button type="button" class="btn btn-outline-danger btn-tabla"
                                                        data-bs-toggle="modal" data-bs-target="#modalDeleteMarmol"
                                                        id="btnModalDeleteMarmol" data-toggle="tooltip"
                                                        data-placement="bottom"
                                                        title="Presiona para ''ELIMINAR'' los datos de esta fila."
                                                        data-delete_id="{{ marmol.id }}">
                                                        <i class="bi bi-trash3-fill"></i>
                                                    </button>
                                                    <!-- cSpell:enable -->
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>

{% endblock %}


{% block js %}

<!-- cSpell:disable -->
<script src="{{ url_for('static', filename='DataTables/datatables.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/customDataTable.js') }}"></script>
<script src="{{ url_for('static', filename='js/validarInputsForm.js') }}"></script>
<script src="{{ url_for('static', filename='js/datosModal.js') }}"></script>
{% endblock %}